<div class="modal-header">
  <h5 class="modal-title">Enter the name for the sector</h5>
  <button type="button" class="close" (click)="closeModal()">&times;</button>
</div>
<div class="modal-body">
  <form [formGroup]="sectorForm" (ngSubmit)="save()">
    <label>
      Name:
      <input type="text" class="form-control" formControlName="name" />
      <app-input-error
        [formGroup]="sectorForm"
        [controlName]="'name'"
        [errorMessages]="{ required: 'Field is required' }"
      ></app-input-error>
    </label>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
